$color: black;
$background-color: white;
$animation-background-color: gray;

$sky-color: #007fd5;

$padding: 1rem;

$margin: 1rem;

$active-border: 0.1rem solid green;

$cityImgMap: (
  seattle: '../img/seattle.jpg',
  london:  '../img/london.jpg',
  oslo:    '../img/oslo.jpg',
  rio:     '../img/rio.jpg',
  bogota:  '../img/bogota.jpg'
);
