@import '_variables';

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  color: $color;
  background: $background-color;
  padding-top: $padding;
}

img {
  max-width: 100%;
}

.weather {
  margin: $margin;
}

.weather-button {
  margin: $margin;
  padding: $padding;

  &:hover,
  &:active,
  &:focus {
    border: $active-border;
    outline: none;
  }
}
